<p>task-list works!</p>
<form action="">
  

    <div class="modal fade" id="Abrir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              
    <textarea placeholder="" id=""></textarea>
    <button type="button" class="btn btn-secondary" (click)="addTask(p.id_actividad)">Agregar</button>
    
    
    
    <textarea placeholder="" id=""></textarea>
    <button type="submit">Actualizar</button>
              
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
   
    
  </form>